


#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #F5E3E0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header{
    background-color:#81B29A;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    
}

#logo{
    width: 80px;
    padding-top: 5px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
}


nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
}

nav a:hover{
    background-color:#2D3142;
    text-decoration: underline;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1{
    text-align: center;
    color: white;
}

.home-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 2em;
    margin-top: 10px;
}


#hero-msg h4{
    text-align: center;
    color: white;
}

h4{
    color:black;
}


.button-box{
    text-align: center;
}

.book{
    background-color:#A1674A;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: #2D3142;
    color: white;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

main section{
    text-align: center;

}
main section img {
    box-sizing: border-box;
}

.home-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr */
    grid-template-columns: 10fr;
}

#background{
    height: 725px;
    background-color: #A1674A;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg{
    background-color: #81B29A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.join{
    background-color: #A1674A;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #2D3142; 
    color: white
}

footer{
    background-color: #2D3142;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: white;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #A1674A
}

h2{
    margin: 0;
}

.card-img {
    border: 10px #000;
    width: 100%;
    /* border: 10px solid #d9c2a3; */
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
 .camping-card{
       margin: 200px 0;
       grid-column: 5/7;
       grid-row: 2/3;
 }
.rapids-card{
        margin: 200px 0;
        grid-column: 8/10;
        grid-row: 2/3;
} 


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}