#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #F5E3E0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header{
    background-color:#81B29A;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    
}

nav{
    display: flex;
    justify-content: space-around;
}


nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
}

nav a:hover{
    background-color:#2D3142;
    text-decoration: underline;
    color: white;
}

header{
    background-color:#81B29A;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    
}


h1 {
    text-align: center;
}

.firstPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

.question {
    margin: 20px;
    font-weight: bold;
}

.answer {
    margin-left: 50px;
    margin-top: 20px;
}

.secondPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 50px;
}

footer{
    background-color: #2D3142;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: white;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #A1674A
}