body{
    text-align: center;
}

div{
   display: grid;
   grid-template-columns: 20% 60% 18%;
   gap: 10px;
   grid-template-rows: 100% 300% 100%;
   
}


#header{
    grid-column: 1/4;
    background-color: black;
}

#left{
    grid-row: 2/4;
    background-color: red;
}

#main{
    background-color: blue;
}

#right{
    background-color: green;
}

#footer{
    grid-column: 2/4;
    background-color: yellow;
}